<!DOCTYPE html>
<html>
<head>
  <title>MemoryGame</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
  <h1>Memory Game</h1>
  </header>

  <div id='birds-container'>
    <div class="card" id="0">Number</div>
    <div class="card" id="1">Number</div>
    <div class="card" id="2">Number</div>
    <div class="card" id="3">Number</div>
    <div class="card" id="4">Number</div>
    <div class="card" id="5">Number</div>
    <div class="card" id="6">Number</div>
    <div class="card" id="7">Number</div>

  </div>



      <button id="start">Start Game</button>


<%= yield %>

</body>
</html>
